$font-stack: Courier New;
$text-color: #cdd6f4;
$background-color: #11111b;

body {
  font: 100% $font-stack;
  color: $text-color;
  background-color: $background-color;
  margin: auto;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  text-align: center;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    // display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}
