$font-stack: Courier New;
$text-color: #cdd6f4;
$link-color: #89b4fa;
$background-color: #11111b;
$max-width: 800px;

body {
  font: 100% $font-stack;
  color: $text-color;
  background-color: $background-color;
  margin: auto;
  padding: 20px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: $max-width;
}

h1,
h2,
h3 {
  text-align: center;
}

a.title {
  color: $text-color;
  text-decoration: none;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    // display: block;
    padding: 0px 0px;
    text-decoration: none;
    color: $link-color;
  }
}
